---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import { localizePath } from "astro-i18next";
import { t } from "i18next";
import Newsletter from "./newsletter.astro";
import Footer from "./footer.astro";
---

<div class="bg-[#FFFAF5]" style="height: 100vh;">
	<div class="container relative mx-auto px-6">
		<div class="mx-auto pt-16 pb-28 text-center">
			<div id="lettermarkLogo" class="scale-0 transition-transform flex justify-center pb-8">
				<img src="logo-box.png" alt="" class="w-[80px] md:w-[100px]" />
			</div>

			<h1 class="mt-2 text-5xl md:text-6xl font-bold tracking-tight text-black dark:text-white">We’re building <br />something amazing!</h1>
			<p class="mt-2 text-lg leading-8 text-gray-900 dark:text-gray-100">Your daily Tech Source. For women. By women</p>
		</div>

		<div class="mx-auto mb-24 md:flex justify-center">
			<div class="flex justify-center items-center max-w-[400px]">
				<p class="text-lg text-center md:pb-4">Be the first to know when we launch, post job offers, events, newsletters and more</p>
			</div>

			<div id="newsletter" class="flex">
				<Newsletter />
			</div>
		</div>
	</div>

	<Footer />
</div>

<script is:inline>
const lettermarkLogo = document.querySelector("#lettermarkLogo");

window.addEventListener("z", detectBottom);

function detectBottom() {
	// Get the height of the window.
	const windowHeight = window.innerHeight;

	// Get the height of the document.
	const documentHeight = document.documentElement.scrollHeight;

	// Get the current scroll position.
	const scrollTop = window.scrollY;

	// If the scroll position is greater than or equal to the document height minus the window height, then the user has reached the bottom of the page.
	if (scrollTop >= documentHeight - windowHeight) {
		// Do something when the user reaches the bottom of the page.
		alert("bottom reached");
	}
}

window.addEventListener("zz", function () {
	// Calculate the current scroll position
	const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

	// Calculate the total scrollable height of the page
	const scrollHeight = document.documentElement.scrollHeight;

	// Calculate the height of the viewport
	const clientHeight = document.documentElement.clientHeight;

	// Check if the user has reached the bottom of the page
	if (scrollTop + clientHeight >= scrollHeight) {
		// Perform your desired action here
		lettermarkLogo.style.display = "flex";
	}
});

window.addEventListener("scroll", function () {
	// Your code to check if the element is in the viewport
	checkElementInView();
});

function checkElementInView() {
	// viewport target
	const element = document.getElementById("newsletter");

	if (element) {
		const elementTop = element.getBoundingClientRect().top;
		const elementBottom = element.getBoundingClientRect().bottom;
		const viewportHeight = window.innerHeight;

		// Check if the element is fully or partially in the viewport
		if (elementTop < viewportHeight && elementBottom >= 0) {
			// The element is in view, perform your action here
			console.log("Element is in the viewport");
			lettermarkLogo.classList.remove("scale-0");
			lettermarkLogo.classList.add("scale-100");
		}
	}
}
</script>
