---
import logo from "assets/logo.svg";
import { localizePath } from "astro-i18next";
import LanguageSelector from "@components/languageselector.astro";
import ThemeSelector from "@components/themeselector.astro";
import { menuitems } from "@components/navbar/navbar.astro";
import { t } from "i18next";
import { Image } from "astro:assets";
import Link from "./ui/link.astro";
---

<footer class="pb-12 dark:bg-stone-950 bg-[#FFFAF5]">
	<div class="mx-auto max-w-6xl px-6 md:px-12 lg:px-6 xl:px-0">
		<!-- DECOMMENT HERE IF YOU WANT YOUR LOGO IN THE FOOTER -->
		<div class="flex justify-center gap-2 my-16">
			<Link
				href="https://docs.google.com/forms/d/e/1FAIpQLScyuOFiT1qa6y2U_juPcblJgEwPxbWF33oNwzBpV8X8a_TmEQ/viewform"
				target="_blank"
				size="sm"
				class="py-2 px-6 hover:bg-stone-800">
				Send in Essays
			</Link>
			<Link
				href="https://documentwomen.com/categories/the-stack-journal"
				target="_blank"
				size="sm"
				class="py-2 px-6 text-stone-900 bg-[#a8e1b0] hover:bg-[#a8f2b0]">
				Read Past Journals
			</Link>
		</div>

		<p class="text-center">Follow us</p>
		<div class="m-auto mt-2 flex w-max items-center justify-between space-x-4 text-gray-500 dark:text-white">
			<a
				class="duration-300 hover:text-gray-900 dark:hover:text-gray-100"
				href="https://twitter.com/TheStackJournal"
				title="twitter"
				target="blank"
				aria-label="twitter">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40px" height="40px" fill="#333">
					<path
						d="M10.053,7.988l5.631,8.024h-1.497L8.566,7.988H10.053z M21,6v12	c0,1.657-1.343,3-3,3H6c-1.657,0-3-1.343-3-3V6c0-1.657,1.343-3,3-3h12C19.657,3,21,4.343,21,6z M17.538,17l-4.186-5.99L16.774,7	h-1.311l-2.704,3.16L10.552,7H6.702l3.941,5.633L6.906,17h1.333l3.001-3.516L13.698,17H17.538z">
					</path>
				</svg>
			</a>
			<a
				class="duration-300 hover:text-gray-900 dark:hover:text-gray-100"
				href="https://www.instagram.com/theStackJournal"
				title="instagram"
				target="blank"
				aria-label="instagram">
				<!--?xml version="1.0"?-->
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40px" height="40px" fill="#333">
					<path
						d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z">
					</path>
				</svg>
			</a>
			<a
				class="duration-300 hover:text-gray-900 dark:hover:text-gray-100"
				href="https://www.linkedin.com/company/thestackjournal/"
				title="linkedin"
				target="blank"
				aria-label="linkedin">
				<!--?xml version="1.0"?-->
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40px" height="40px" fill="#333">
					<path
						d="M19,3H5C3.895,3,3,3.895,3,5v14c0,1.105,0.895,2,2,2h14c1.105,0,2-0.895,2-2V5C21,3.895,20.105,3,19,3z M9,17H6.477v-7H9 V17z M7.694,8.717c-0.771,0-1.286-0.514-1.286-1.2s0.514-1.2,1.371-1.2c0.771,0,1.286,0.514,1.286,1.2S8.551,8.717,7.694,8.717z M18,17h-2.442v-3.826c0-1.058-0.651-1.302-0.895-1.302s-1.058,0.163-1.058,1.302c0,0.163,0,3.826,0,3.826h-2.523v-7h2.523v0.977 C13.93,10.407,14.581,10,15.802,10C17.023,10,18,10.977,18,13.174V17z">
					</path>
				</svg>
			</a>
		</div>
	</div>
	<div class="flex justify-center mt-12 gap-3">
		<!-- <ThemeSelector /> -->
	</div>
	<div class="mt-4 text-center">
		<span class="text-sm tracking-wide text-gray-500 dark:text-white">Copyright © The Stack Journal. All rights reserved</span>
	</div>
</footer>
