---
import Button from "@components/ui/button.astro";
import Link from "@components/ui/link.astro";
import { t } from "i18next";
---

<div class="mx-auto">
	<!-- <form class="w-full max-w-md lg:col-span-5 lg:pt-2">
		<div class="flex gap-x-4">
			<label for="email-address" class="sr-only">Email address</label>
			<input
				id="email-address"
				name="email"
				type="email"
				autocomplete="email"
				required
				class="min-w-0 flex-auto rounded-md border-0 px-3.5 py-2 text-gray-900 dark:text-gray-100 dark:bg-stone-950 shadow-sm ring-1 ring-inset ring-gray-300 dark:placeholder:text-gray-100 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
				placeholder={t("newsletter.input_placeholder")}
			/>
			<Button>{t("newsletter.button_text")}</Button>
		</div>
	</form> -->
	<!-- 
		
		height="150" -->

	<iframe class="min-w-[360px] md:min-w-[600px]" src="https://thestackjournal.substack.com/embed" width="" style="" frameborder="0" scrolling="no">
	</iframe>
</div>
