---
import { SEO } from "astro-seo";
import Navbar from "@components/navbar/navbar.astro";
import { HeadHrefLangs } from "astro-i18next/components";
import i18next from "i18next";
import { pwaInfo } from "virtual:pwa-info";
import "@fontsource-variable/inter";
import { ViewTransitions } from "astro:transitions";

export interface Props {
	title: string;
	lang: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL("/meta/opengraph.png", Astro.site).toString();

// replaced dynamically
const buildDate = __DATE__;

const { title, lang = null } = Astro.props;

const makeTitle = title ? title : "The Stack Journal: Your daily Tech Source. For women. By women";
---

<!doctype html>
<html lang={lang ?? i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#FFFAF5" />
		<HeadHrefLangs />

		<ViewTransitions />

		<!-- Global CSS -->
		<link rel="stylesheet" href="/index.css" />

		<SEO
			title={makeTitle}
			description="The Stack Journal: Your daily Tech Source. For women. By women"
			canonical={canonicalURL}
			openGraph={{
				basic: {
					url: canonicalURL,
					type: "website",
					title: `The Stack Journal: Your daily Tech Source. For women. By women`,
					// image: resolvedImageWithDomain,
					image: "https://the-stack-journal.pages.dev/logo.svg",
				},
				image: {
					alt: "",
				},
			}}
		/>

		{pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
		<script src="/src/pwa.ts"></script>
	</head>
	<body class="dark:bg-stone-950 bg-[#FFFAF5]">
		<Navbar />
		<slot />
		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
